# ignore dependency directories
gmsh/
eigen-3.4.0/
Easy3D/
yaml-cpp/
dependencies/

# ignore build files
build/
CMakeFiles/
.vscode/
Makefile
.deb

# ignore ROS directories
install/
log/

# ignore .obj and .stl files
*.obj
*.stl

# ignore output folder
output/

# ignore all SDF files
*.sdf

# ignore __pycache__
__pycache__/

#ignore rosbags folder
rosbags/