# ignore dependency directories
gmsh/
eigen-3.4.0/
Easy3D/
yaml-cpp/
dependencies/

# ignore build files
build/
dependencies/
CMakeFiles/
.vscode/
Makefile
.deb

# ignore ROS directories
install/
log/

# ignore .obj and .stl files
*.obj
resource/demos/*/*.stl
resource/demos/*/*/*.stl

# don't ignore these specific .stl or .obj files (used by the sims)
!resource/demos/trachea_virtuoso/cao_04_29_25_model1_trachea_d.stl

# ignore output folder
output/

# ignore all SDF files
*.sdf

# ignore __pycache__
__pycache__/

#ignore rosbags folder
rosbags/